<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.StudentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolAddServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.SchoolAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeCommentServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.MakeCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeMessageServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.LikeMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowMessageServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.FollowMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostNewMessage</servlet-name>
        <servlet-class>com.tebeshir.servlet.PostNewMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePostServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.LikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnlikePostServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.UnlikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowPostServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.FollowPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnfollowPostServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.UnfollowPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentOnPostServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.CommentOnPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnfollowTagServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.UnfollowTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowTagServlet</servlet-name>
        <servlet-class>com.tebeshir.servlet.FollowTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.tebeshir.servlet.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBoard</servlet-name>
        <servlet-class>com.tebeshir.servlet.SearchBoard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/StudentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolAddServlet</servlet-name>
        <url-pattern>/SchoolAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeCommentServlet</servlet-name>
        <url-pattern>/MakeComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeMessageServlet</servlet-name>
        <url-pattern>/LikeMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowMessageServlet</servlet-name>
        <url-pattern>/FollowMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostNewMessage</servlet-name>
        <url-pattern>/PostNewMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePostServlet</servlet-name>
        <url-pattern>/LikePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnlikePostServlet</servlet-name>
        <url-pattern>/UnlikePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowPostServlet</servlet-name>
        <url-pattern>/FollowPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnfollowPostServlet</servlet-name>
        <url-pattern>/UnfollowPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentOnPostServlet</servlet-name>
        <url-pattern>/CommentOnPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnfollowTagServlet</servlet-name>
        <url-pattern>/UnfollowTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowTagServlet</servlet-name>
        <url-pattern>/FollowTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBoard</servlet-name>
        <url-pattern>/SearchBoard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
